flow
[
    {
        "id": "b4124d550e310333",
        "type": "inject",
        "z": "28bc9808e7dbdb8b",
        "g": "32da8bfb011458f9",
        "name": "manual",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 435,
        "y": 140,
        "wires": [
            [
                "e3ddc583dc995886"
            ]
        ],
        "l": false
    },
    {
        "id": "137ea261a833ef6a",
        "type": "link in",
        "z": "28bc9808e7dbdb8b",
        "g": "32da8bfb011458f9",
        "name": "5min",
        "links": [
            "ac9ce97c8e710b9a"
        ],
        "x": 435,
        "y": 190,
        "wires": [
            [
                "e3ddc583dc995886"
            ]
        ]
    },
    {
        "id": "63fd2e1adc626eb1",
        "type": "debug",
        "z": "28bc9808e7dbdb8b",
        "g": "32da8bfb011458f9",
        "name": "debug kwl",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "$moment().tz(\"Europe/Berlin\").format(\"DD.MM.YYYY HH:mm:ss\")",
        "statusType": "jsonata",
        "x": 965,
        "y": 180,
        "wires": [],
        "icon": "font-awesome/fa-stop-circle",
        "l": false
    },
    {
        "id": "f1_collect_auto",
        "type": "function",
        "z": "28bc9808e7dbdb8b",
        "g": "32da8bfb011458f9",
        "name": "KWL – Auto‑Mode Check & Sensoren",
        "func": "/**\n * ============================================================================\n * kwl control - step 1: auto mode check & sensor data collection\n * ============================================================================\n * \n * tasks:\n * - check if auto mode and draft mode are correctly set\n * - read all relevant sensor data from home assistant\n * - validate completeness of sensor data\n * - abort flow if conditions are not met\n * \n * ============================================================================\n */\n\n// ============================================================================\n// settings and base configuration\n// ============================================================================\n\nconst states = global.get(\"homeassistant.homeSystem.states\") || {};\nconst settings = msg.settings || {};\nconst DEBUG = settings.debug === true;\n\n// entity ids for home assistant sensors\nconst CFG = {\n  topicBase: \"nodered/maico\",\n  \n  // environment sensors\n  season: \"select.times_season\",\n  dayWindow: \"sensor.tod_state\",\n  indoorTemp: \"sensor.ht_nr_indoor_temperature\",\n  outdoorTemp: \"sensor.ht_nr_outdoor_temperature\",\n  indoorRH: \"sensor.ht_nr_indoor_humidity\",\n  outdoorRH: \"sensor.ht_nr_outdoor_humidity\",\n  indoorAbsHum: \"sensor.ht_nr_indoor_abs_humidity\",\n  outdoorAbsHum: \"sensor.ht_nr_outdoor_abs_humidity\",\n  co2: \"sensor.ht_nr_indoor_co2\",\n  \n  // bathroom humidity (for shower mode)\n  bathroomHumidity1: \"sensor.ht_aq_13_1_humidity\",\n  bathroomHumidity2: \"sensor.ht_so_2_1_humidity\",\n  \n  // target values and limits\n  roomTempSet: \"number.kwl_1_temperature_target\",\n  roomTempMax: \"number.kwl_1_temperature_max\",\n  humidityMax: \"number.kwl_1_humidity_high\",\n  humidityMin: \"number.kwl_1_humidity_low\",\n  dewpointLimit: \"number.kwl_1_temperature_cooling\",\n  \n  // current kwl states\n  currentFanLevel: \"select.kwl_1_ventilation_mode\",\n  currentFlowRate: \"number.kwl_1_flow_rate_default\",\n  currentBypass: \"switch.kwl_1_ventilation_bypass\",\n  currentMode: \"select.kwl_1_operating_mode\",\n  filterAlarm: \"sensor.kwl_1_filter_replacement\",\n  priority: \"select.kwl_1_priority\",\n  \n  // control modes\n  autoMode: \"switch.kwl_1_ventilation_bypass_auto\",\n  draftMode: \"switch.kwl_1_ventilation_draft\"\n};\n\n// ============================================================================\n// helper functions for data conversion\n// ============================================================================\n\n// read value from home assistant state\nfunction get(id) {\n  return states[id]?.state ?? null;\n}\n\n// convert to number with fallback\nconst toNum = (id, fallback = null) => {\n  const value = Number(get(id));\n  return Number.isFinite(value) ? value : fallback;\n};\n\n// convert to string with fallback\nconst toStr = (id, fallback = \"\") => {\n  return String(get(id) ?? fallback);\n};\n\n// convert to boolean\nconst toBool = (id, fallback = false) => {\n  const value = String(get(id) ?? \"\").toLowerCase();\n  if ([\"on\", \"1\", \"true\", \"open\"].includes(value)) return true;\n  if ([\"off\", \"0\", \"false\", \"closed\"].includes(value)) return false;\n  return fallback;\n};\n\n// ============================================================================\n// normalization functions\n// ============================================================================\n\n// normalize season value\nconst normalizeSeason = (season) => {\n  const value = String(season || \"\").toLowerCase();\n  if ([\"winter\"].includes(value)) return \"winter\";\n  if ([\"spring\", \"frühling\", \"fruehling\"].includes(value)) return \"spring\";\n  if ([\"summer\", \"sommer\"].includes(value)) return \"summer\";\n  if ([\"autumn\", \"fall\", \"herbst\"].includes(value)) return \"autumn\";\n  return value;\n};\n\n// normalize day/night value\nconst normalizeDay = (day) => {\n  return [\"night\", \"nacht\"].includes(String(day).toLowerCase()) ? \"night\" : \"day\";\n};\n\n// convert ventilation level from text to number (1-4)\nconst mapVent = (vent) => {\n  const value = String(vent || \"\").toLowerCase();\n  if ([\"feuchteschutz\"].includes(value)) return 1;\n  if ([\"reduziert\"].includes(value)) return 2;\n  if ([\"nennlüftung\"].includes(value)) return 3;\n  if ([\"intensiv\"].includes(value)) return 4;\n  return Number(value) || 3;\n};\n\n// convert operating mode from text to internal\nconst mapMode = (mode) => {\n  const value = String(mode || \"\").toLowerCase();\n  if ([\"manuell\"].includes(value)) return \"balanced\";\n  if ([\"eco-zuluft\"].includes(value)) return \"supply_only\";\n  if ([\"eco-abluft\"].includes(value)) return \"exhaust_only\";\n  return \"balanced\";\n};\n\n// ============================================================================\n// collect sensor data\n// ============================================================================\n\nconst data = {\n  // base configuration\n  topicBase: CFG.topicBase,\n  season: normalizeSeason(toStr(CFG.season)),\n  dayWindow: normalizeDay(toStr(CFG.dayWindow)),\n  \n  // temperatures\n  indoorTemp: toNum(CFG.indoorTemp),\n  outdoorTemp: toNum(CFG.outdoorTemp),\n  \n  // humidity (relative)\n  indoorRH: toNum(CFG.indoorRH),\n  outdoorRH: toNum(CFG.outdoorRH),\n  \n  // humidity (absolute)\n  indoorAbsHumidity: toNum(CFG.indoorAbsHum),\n  outdoorAbsHumidity: toNum(CFG.outdoorAbsHum),\n  \n  // air quality\n  co2: toNum(CFG.co2),\n  \n  // bathroom humidity\n  bathroom1RH: toNum(CFG.bathroomHumidity1),\n  bathroom2RH: toNum(CFG.bathroomHumidity2),\n  \n  // target values\n  roomTempSet: toNum(CFG.roomTempSet),\n  roomTempMax: toNum(CFG.roomTempMax),\n  humidityMax: toNum(CFG.humidityMax, 60),\n  humidityMin: toNum(CFG.humidityMin, 40),\n  dewpointLimitTemp: toNum(CFG.dewpointLimit, 9),\n  \n  // current kwl values\n  currentFanLevel: mapVent(toStr(CFG.currentFanLevel)),\n  currentFlowRate: toNum(CFG.currentFlowRate, 150),\n  currentBypass: toBool(CFG.currentBypass, false),\n  currentMode: mapMode(toStr(CFG.currentMode, \"balanced\")),\n  filterAlarm: toBool(CFG.filterAlarm, false),\n  \n  // control\n  autoMode: toBool(CFG.autoMode, true),\n  draftMode: toBool(CFG.draftMode, false),\n  priority: toStr(CFG.priority, \"Ohne\")\n};\n\n// ============================================================================\n// auto mode check\n// ============================================================================\n\n// check if auto mode is active\nif (!data.autoMode) {\n  node.status({fill: \"grey\", shape: \"dot\", text: \"auto mode off\"});\n  if (DEBUG) {\n    node.warn(\"flow stopped: auto mode is disabled\");\n  }\n  return null;\n}\n\n// check if draft mode is inactive\nif (data.draftMode) {\n  node.status({fill: \"grey\", shape: \"dot\", text: \"draft mode on\"});\n  if (DEBUG) {\n    node.warn(\"flow stopped: draft mode is enabled\");\n  }\n  return null;\n}\n\n// ============================================================================\n// sensor data validation\n// ============================================================================\n\n// list of mandatory sensors\nconst requiredSensors = [\n  \"season\",\n  \"dayWindow\",\n  \"indoorTemp\",\n  \"outdoorTemp\",\n  \"indoorRH\",\n  \"indoorAbsHumidity\",\n  \"outdoorAbsHumidity\",\n  \"co2\",\n  \"roomTempSet\",\n  \"roomTempMax\"\n];\n\n// check for missing values\nconst missingSensors = requiredSensors.filter(key => {\n  return !data[key] && data[key] !== 0;\n});\n\ndata.sensorOk = missingSensors.length === 0;\n\n// ============================================================================\n// debug output\n// ============================================================================\n\nif (DEBUG && missingSensors.length > 0) {\n  node.warn(`missing sensor data: ${missingSensors.join(\", \")}`);\n}\n\nnode.status({\n  fill: \"green\",\n  shape: \"dot\",\n  text: `sensors ok | ${data.dayWindow}`\n});\n\nif (DEBUG && data.sensorOk) {\n  node.warn(\n    `collected data: ` +\n    `indoor ${data.indoorTemp}°C / ${data.indoorRH}% | ` +\n    `outdoor ${data.outdoorTemp}°C | ` +\n    `co₂ ${data.co2}ppm`\n  );\n}\n\n// ============================================================================\n// add metadata\n// ============================================================================\n\ndata._meta = {\n  missing: missingSensors,\n  timestamp: new Date().toISOString()\n};\n\n// ============================================================================\n// prepare output\n// ============================================================================\n\nmsg.payload = data;\nmsg.settings = settings;\nmsg.debug = \"auto+collect\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 140,
        "wires": [
            [
                "f2_core",
                "63fd2e1adc626eb1"
            ]
        ]
    },
    {
        "id": "f2_core",
        "type": "function",
        "z": "28bc9808e7dbdb8b",
        "g": "32da8bfb011458f9",
        "name": "KWL – Core Decision & Hysterese",
        "func": "/**\n * ============================================================================\n * kwl control - step 2: core decision logic\n * ============================================================================\n * \n * tasks:\n * - analyze sensor data and calculate ventilation requirements\n * - detect special conditions (shower mode, night cooling, etc.)\n * - calculate score-based ventilation level/flow rate\n * - apply priority adjustments from home assistant\n * - enforce night limits and step limiting\n * - determine bypass and operating mode\n * - build commands with change interval protection\n * \n * ============================================================================\n */\n\n// ============================================================================\n// initialization and base variables\n// ============================================================================\n\nconst d = msg.payload || {};\nconst settings = msg.settings || {};\nconst DEBUG = settings.debug === true;\nconst USE_FLOW_RATE = settings.flowRate?.enabled === true;\n\nconst now = Date.now();\nconst topicBase = d.topicBase || \"nodered/maico\";\nconst minRuntimeMs = (settings.minRuntimeMinutes || 20) * 60 * 1000;\nconst priority = (d.priority || \"Ohne\").toLowerCase();\n\n// ============================================================================\n// extract settings with defaults\n// ============================================================================\n\nconst cfg = {\n  // flow rate settings\n  flowRate: {\n    enabled: settings.flowRate?.enabled ?? false,\n    min: settings.flowRate?.min ?? 80,\n    max: settings.flowRate?.max ?? 300,\n    step: settings.flowRate?.step ?? 5,\n    maxStepPerCycle: settings.flowRate?.maxStepPerCycle ?? 20,\n    scoreMultiplier: settings.flowRate?.scoreMultiplier ?? 55\n  },\n  \n  // co2 settings\n  co2: {\n    trendRisingThreshold: settings.co2?.trendRisingThreshold ?? 30,\n    trendFallingThreshold: settings.co2?.trendFallingThreshold ?? -20,\n    highThreshold: settings.co2?.highThreshold ?? 1100,\n    highWithTrendThreshold: settings.co2?.highWithTrendThreshold ?? 900,\n    criticalThreshold: settings.co2?.criticalThreshold ?? 1300,\n    baseValue: settings.co2?.baseValue ?? 800,\n    rangeValue: settings.co2?.rangeValue ?? 700\n  },\n  \n  // temperature settings\n  temperature: {\n    outsideDeltaCooler: settings.temperature?.outsideDeltaCooler ?? 1,\n    outsideDeltaWarmer: settings.temperature?.outsideDeltaWarmer ?? 1,\n    hysteresisBand: settings.temperature?.hysteresisBand ?? 0.3,\n    nightCoolingMinDelta: settings.temperature?.nightCoolingMinDelta ?? 2,\n    nightCoolingStrongDelta: settings.temperature?.nightCoolingStrongDelta ?? 3,\n    nightCoolingSeasons: settings.temperature?.nightCoolingSeasons ?? [\"spring\", \"summer\"]\n  },\n  \n  // humidity settings\n  humidity: {\n    hysteresisBand: settings.humidity?.hysteresisBand ?? 2\n  },\n  \n  // score weights\n  scoreWeights: {\n    air: settings.scoreWeights?.air ?? 1.0,\n    humidityHigh: settings.scoreWeights?.humidityHigh ?? 0.6,\n    humidityLow: settings.scoreWeights?.humidityLow ?? 0.4,\n    tempMax: settings.scoreWeights?.tempMax ?? 0.5,\n    tempMin: settings.scoreWeights?.tempMin ?? 0.3\n  },\n  \n  // priority adjustments\n  priorityAdjustments: {\n    airQuality: settings.priorityAdjustments?.airQuality ?? 0.3,\n    tempHigh: settings.priorityAdjustments?.tempHigh ?? -0.3,\n    tempLow: settings.priorityAdjustments?.tempLow ?? 0.4,\n    humidityHigh: settings.priorityAdjustments?.humidityHigh ?? -0.3,\n    humidityLow: settings.priorityAdjustments?.humidityLow ?? 0.3,\n    quiet: settings.priorityAdjustments?.quiet ?? 0.8,\n    dayBias: settings.priorityAdjustments?.dayBias ?? 0.3,\n    nightBias: settings.priorityAdjustments?.nightBias ?? -0.2\n  },\n  \n  // boost amounts\n  boosts: {\n    co2High: settings.boosts?.co2High ?? 40,\n    co2Falling: settings.boosts?.co2Falling ?? -30,\n    dehumidify: settings.boosts?.dehumidify ?? 35,\n    nightCoolStrong: settings.boosts?.nightCoolStrong ?? 60,\n    nightCoolMedium: settings.boosts?.nightCoolMedium ?? 40,\n    nightCoolSoft: settings.boosts?.nightCoolSoft ?? 20,\n    tempHighReduction: settings.boosts?.tempHighReduction ?? 40,\n    tempLowIncrease: settings.boosts?.tempLowIncrease ?? 50\n  },\n  \n  // shower mode\n  showerMode: {\n    enabled: settings.showerMode?.enabled ?? true,\n    humidityThresholdMild: settings.showerMode?.humidityThresholdMild ?? 10,\n    humidityThresholdStrong: settings.showerMode?.humidityThresholdStrong ?? 20,\n    humidityFallingThreshold: settings.showerMode?.humidityFallingThreshold ?? -5,\n    boostMild: settings.showerMode?.boostMild ?? 30,\n    boostStrong: settings.showerMode?.boostStrong ?? 60\n  },\n  \n  // night limits\n  night: {\n    maxLevel: settings.nightMaxLevel ?? 3,\n    maxFlowRate: settings.nightMaxFlowRate ?? 225\n  }\n};\n\n// ============================================================================\n// helper functions\n// ============================================================================\n\n// get persistent flag from global context\nfunction getFlag(key) {\n  return global.get(key) === true;\n}\n\n// set persistent flag in global context\nfunction setFlag(key, value) {\n  global.set(key, !!value);\n}\n\n// convert flow rate to ventilation level (1-4)\nfunction flowRateToLevel(flowRate) {\n  if (flowRate < 120) return 1;\n  if (flowRate < 175) return 2;\n  if (flowRate < 225) return 3;\n  return 4;\n}\n\n// convert ventilation level to representative flow rate\nfunction levelToFlowRate(level) {\n  const map = {1: 100, 2: 150, 3: 200, 4: 275};\n  return map[level] || 150;\n}\n\n// cap flow rate to valid range and step\nfunction capFlowRate(flowRate) {\n  const min = cfg.flowRate.min;\n  const max = cfg.flowRate.max;\n  const step = cfg.flowRate.step;\n  let capped = Math.max(min, Math.min(max, flowRate));\n  return Math.round(capped / step) * step;\n}\n\n// limit flow rate change per cycle (smooth transitions)\nfunction applyMaxStepLimit(currentFR, targetFR, isEmergency = false) {\n  const maxStep = cfg.flowRate.maxStepPerCycle;\n  \n  if (isEmergency) {\n    if (DEBUG) {\n      node.warn(`emergency mode: allowing full step ${currentFR} → ${targetFR}`);\n    }\n    return targetFR;\n  }\n  \n  const delta = targetFR - currentFR;\n  \n  if (Math.abs(delta) <= maxStep) {\n    return targetFR;\n  }\n  \n  const limitedFR = delta > 0 ? currentFR + maxStep : currentFR - maxStep;\n  \n  if (DEBUG) {\n    node.warn(\n      `flow rate step limited: ${currentFR} → ${targetFR} ` +\n      `(capped to ${limitedFR}, Δ=${delta > 0 ? '+' : ''}${Math.abs(delta)} > max ${maxStep})`\n    );\n  }\n  \n  return capFlowRate(limitedFR);\n}\n\n// ============================================================================\n// persistent hysteresis flags\n// ============================================================================\n\nlet coolingActive = getFlag(\"state.maico.kwl_cooling_active\");\nlet dehumidifyActive = getFlag(\"state.maico.kwl_dehumidify_active\");\nlet nightCoolingActive = getFlag(\"state.maico.kwl_night_cooling_active\");\n\n// ============================================================================\n// sensor data validation\n// ============================================================================\n\nif (!d.sensorOk) {\n  if (DEBUG) {\n    node.warn(\"fallback: missing sensor data\");\n  }\n  return {\n    payload: {\n      targetLevel: 3,\n      targetFlowRate: 200,\n      targetBypass: 0,\n      targetMode: \"balanced\",\n      reason: [\"fallback_sensor\"],\n      input: d\n    }\n  };\n}\n\n// ============================================================================\n// basic environmental states\n// ============================================================================\n\nconst isNight = d.dayWindow === \"night\";\nconst tempAboveSet = d.indoorTemp > d.roomTempSet;\nconst tempAboveMax = d.indoorTemp > d.roomTempMax;\nconst outsideCooler = d.outdoorTemp <= d.indoorTemp - cfg.temperature.outsideDeltaCooler;\nconst outsideWarmer = d.outdoorTemp >= d.indoorTemp + cfg.temperature.outsideDeltaWarmer;\nconst deltaT = d.indoorTemp - d.outdoorTemp;\n\nif (DEBUG) {\n  node.warn(\n    `basic states: night=${isNight} | ΔT=${deltaT.toFixed(1)}°C | ` +\n    `outside ${outsideCooler ? \"cooler\" : outsideWarmer ? \"warmer\" : \"similar\"}`\n  );\n}\n\n// ============================================================================\n// co₂ trend analysis\n// ============================================================================\n\nconst prevCo2 = flow.get(\"maico.kwl_prev_co2\") ?? d.co2;\nconst co2Trend = d.co2 - prevCo2;\nflow.set(\"maico.kwl_prev_co2\", d.co2);\n\nconst co2Rising = co2Trend > cfg.co2.trendRisingThreshold;\nconst co2Falling = co2Trend < cfg.co2.trendFallingThreshold;\nlet co2High = d.co2 >= cfg.co2.highThreshold || \n              (d.co2 >= cfg.co2.highWithTrendThreshold && co2Rising);\nlet co2Critical = d.co2 >= cfg.co2.criticalThreshold;\n\nif (DEBUG && Math.abs(co2Trend) > 20) {\n  node.warn(\n    `co₂ trend: ${co2Trend > 0 ? '+' : ''}${co2Trend}ppm ` +\n    `(${co2Rising ? 'rising' : co2Falling ? 'falling' : 'stable'})`\n  );\n}\n\n// ============================================================================\n// shower mode - bathroom humidity spike detection\n// ============================================================================\n\nconst showerCfg = cfg.showerMode;\nconst showerEnabled = showerCfg.enabled;\n\nlet showerBoost = 0;\nlet showerActive = false;\nconst showerReasons = [];\n\nif (showerEnabled && d.bathroom1RH && d.bathroom2RH) {\n  \n  const prevBath1 = flow.get(\"maico.kwl_prev_bath1_rh\") ?? d.bathroom1RH;\n  const prevBath2 = flow.get(\"maico.kwl_prev_bath2_rh\") ?? d.bathroom2RH;\n  \n  const bath1Delta = d.bathroom1RH - prevBath1;\n  const bath2Delta = d.bathroom2RH - prevBath2;\n  \n  flow.set(\"maico.kwl_prev_bath1_rh\", d.bathroom1RH);\n  flow.set(\"maico.kwl_prev_bath2_rh\", d.bathroom2RH);\n  \n  const thresholdMild = showerCfg.humidityThresholdMild;\n  const thresholdStrong = showerCfg.humidityThresholdStrong;\n  const thresholdFalling = showerCfg.humidityFallingThreshold;\n  const boostMild = showerCfg.boostMild;\n  const boostStrong = showerCfg.boostStrong;\n  \n  const maxDelta = Math.max(bath1Delta, bath2Delta);\n  const spikingBathroom = bath1Delta > bath2Delta ? \"bath1\" : \"bath2\";\n  const spikingValue = Math.max(bath1Delta, bath2Delta);\n  \n  if (maxDelta >= thresholdStrong) {\n    showerBoost = boostStrong;\n    showerActive = true;\n    showerReasons.push(`${spikingBathroom}_spike_+${spikingValue.toFixed(1)}%_STRONG`);\n    if (DEBUG) {\n      node.warn(\n        `🚿 shower detected (strong): ${spikingBathroom} ` +\n        `+${spikingValue.toFixed(1)}% → boost +${boostStrong}`\n      );\n    }\n  } else if (maxDelta >= thresholdMild) {\n    showerBoost = boostMild;\n    showerActive = true;\n    showerReasons.push(`${spikingBathroom}_spike_+${spikingValue.toFixed(1)}%_mild`);\n    if (DEBUG) {\n      node.warn(\n        `🚿 shower detected (mild): ${spikingBathroom} ` +\n        `+${spikingValue.toFixed(1)}% → boost +${boostMild}`\n      );\n    }\n  } else if (maxDelta < thresholdFalling) {\n    const wasActive = flow.get(\"maico.kwl_shower_was_active\") === true;\n    if (wasActive && DEBUG) {\n      node.warn(`🚿 shower ended: ${spikingBathroom} ${spikingValue.toFixed(1)}%`);\n    }\n  }\n  \n  flow.set(\"maico.kwl_shower_was_active\", showerActive);\n  \n  if (DEBUG && (Math.abs(bath1Delta) > 3 || Math.abs(bath2Delta) > 3)) {\n    node.warn(\n      `bathroom humidity: ` +\n      `bath1 ${bath1Delta > 0 ? '+' : ''}${bath1Delta.toFixed(1)}% (${d.bathroom1RH}%) | ` +\n      `bath2 ${bath2Delta > 0 ? '+' : ''}${bath2Delta.toFixed(1)}% (${d.bathroom2RH}%)`\n    );\n  }\n}\n\n// ============================================================================\n// hysteresis state updates\n// ============================================================================\n\nconst prevCooling = coolingActive;\nconst prevDehumid = dehumidifyActive;\nconst prevNightCool = nightCoolingActive;\n\nconst tempHysteresis = cfg.temperature.hysteresisBand;\nconst humidityHysteresis = cfg.humidity.hysteresisBand;\n\nif (!coolingActive && d.indoorTemp > d.roomTempMax + tempHysteresis) {\n  coolingActive = true;\n}\nif (coolingActive && d.indoorTemp < d.roomTempMax - tempHysteresis) {\n  coolingActive = false;\n}\n\nif (!dehumidifyActive && d.indoorRH > d.humidityMax + humidityHysteresis && \n    d.indoorAbsHumidity > d.outdoorAbsHumidity) {\n  dehumidifyActive = true;\n}\nif (dehumidifyActive && d.indoorRH < d.humidityMax - humidityHysteresis) {\n  dehumidifyActive = false;\n}\n\n// night cooling - season-dependent activation\nconst nightCoolingAllowedSeasons = cfg.temperature.nightCoolingSeasons || [\"spring\", \"summer\"];\nconst nightCoolingSeasonOk = nightCoolingAllowedSeasons.includes(d.season);\n\nif (!nightCoolingActive && isNight && nightCoolingSeasonOk &&\n    deltaT >= cfg.temperature.nightCoolingMinDelta && \n    d.outdoorTemp >= d.dewpointLimitTemp) {\n  nightCoolingActive = true;\n}\nif (nightCoolingActive && \n    (!isNight || !nightCoolingSeasonOk || deltaT < 1 || d.outdoorTemp < d.dewpointLimitTemp)) {\n  nightCoolingActive = false;\n}\n\nsetFlag(\"state.maico.kwl_cooling_active\", coolingActive);\nsetFlag(\"state.maico.kwl_dehumidify_active\", dehumidifyActive);\nsetFlag(\"state.maico.kwl_night_cooling_active\", nightCoolingActive);\n\nif (DEBUG) {\n  if (prevCooling !== coolingActive) {\n    node.warn(`cooling mode: ${coolingActive ? 'activated' : 'deactivated'}`);\n  }\n  if (prevDehumid !== dehumidifyActive) {\n    node.warn(`dehumidify mode: ${dehumidifyActive ? 'activated' : 'deactivated'}`);\n  }\n  if (prevNightCool !== nightCoolingActive) {\n    node.warn(`night cooling: ${nightCoolingActive ? 'activated' : 'deactivated'}`);\n  }\n  if (isNight && !nightCoolingSeasonOk && deltaT >= 2) {\n    node.warn(`night cooling blocked: season=${d.season} (allowed: ${nightCoolingAllowedSeasons.join(\", \")})`);\n  }\n}\n\n\n// ============================================================================\n// soft score system (multi-factor weighted calculation)\n// ============================================================================\n\nconst wAir = cfg.scoreWeights.air;\nconst wHumHigh = cfg.scoreWeights.humidityHigh;\nconst wHumLow = cfg.scoreWeights.humidityLow;\nconst wTmax = cfg.scoreWeights.tempMax;\nconst wTmin = cfg.scoreWeights.tempMin;\n\nconst air = Math.max(0, (d.co2 - cfg.co2.baseValue) / cfg.co2.rangeValue) * wAir;\nconst humHigh = Math.max(0, (d.indoorRH - d.humidityMax) / 10) * wHumHigh;\nconst humLow = Math.max(0, (d.humidityMin - d.indoorRH) / 10) * wHumLow;\nconst tHigh = Math.max(0, (d.indoorTemp - d.roomTempMax) / 2) * wTmax;\nconst tLow = Math.max(0, (d.roomTempSet - d.indoorTemp) / 2) * wTmin;\n\nlet scoreBase = 1+ air + humHigh + humLow + tHigh + tLow;\n\nif (DEBUG) {\n  node.warn(\n    `score components: ` +\n    `air=${air.toFixed(2)} | ` +\n    `humHigh=${humHigh.toFixed(2)} | ` +\n    `humLow=${humLow.toFixed(2)} | ` +\n    `tHigh=${tHigh.toFixed(2)} | ` +\n    `tLow=${tLow.toFixed(2)} | ` +\n    `base=${scoreBase.toFixed(2)}`\n  );\n}\n\nlet score = scoreBase;\n\n// ============================================================================\n// priority adjustments (from home assistant)\n// ============================================================================\n\nconst priorityAdjustments = [];\n\nswitch (priority) {\n  case \"luftqualität\":\n    score += cfg.priorityAdjustments.airQuality * air;\n    priorityAdjustments.push(\n      `+air(${(cfg.priorityAdjustments.airQuality * air).toFixed(2)})`\n    );\n    break;\n    \n  case \"temperatur hoch\":\n    score += cfg.priorityAdjustments.tempHigh;\n    priorityAdjustments.push(`${cfg.priorityAdjustments.tempHigh}(keep warm)`);\n    break;\n    \n  case \"temperatur runter\":\n    if (outsideCooler) {\n      score += cfg.priorityAdjustments.tempLow;\n      priorityAdjustments.push(`+${cfg.priorityAdjustments.tempLow}(cool down)`);\n    }\n    break;\n    \n  case \"feuchtigkeit hoch\":\n    score += cfg.priorityAdjustments.humidityHigh * humLow;\n    priorityAdjustments.push(\n      `${cfg.priorityAdjustments.humidityHigh < 0 ? '' : '+'}humLow(${(cfg.priorityAdjustments.humidityHigh * humLow).toFixed(2)})`\n    );\n    break;\n    \n  case \"feuchtigkeit runter\":\n    score += cfg.priorityAdjustments.humidityLow * humHigh;\n    priorityAdjustments.push(\n      `+humHigh(${(cfg.priorityAdjustments.humidityLow * humHigh).toFixed(2)})`\n    );\n    break;\n    \n  case \"lautstärke\":\n    score *= cfg.priorityAdjustments.quiet;\n    priorityAdjustments.push(`*${cfg.priorityAdjustments.quiet}(quiet)`);\n    break;\n}\n\nif (!isNight) {\n  score += cfg.priorityAdjustments.dayBias;\n  priorityAdjustments.push(`+${cfg.priorityAdjustments.dayBias}(day)`);\n} else {\n  score += cfg.priorityAdjustments.nightBias;\n  priorityAdjustments.push(`${cfg.priorityAdjustments.nightBias}(night)`);\n}\n\nif (DEBUG && priorityAdjustments.length > 0) {\n  node.warn(\n    `priority adjustments [${priority}]: ` +\n    `${priorityAdjustments.join(\", \")} → score=${score.toFixed(2)}`\n  );\n}\n\n// ============================================================================\n// score to initial target values\n// ============================================================================\n\nlet targetLevel;\nlet targetFlowRate;\nlet isEmergency = false;\n\nconst currentFlowRate = USE_FLOW_RATE \n  ? (flow.get(\"maico.kwl_applied\")?.flowRate || 150)\n  : levelToFlowRate(flow.get(\"maico.kwl_applied\")?.level || 3);\n\nif (USE_FLOW_RATE) {\n  let baseFlowRate = cfg.flowRate.min + (score * cfg.flowRate.scoreMultiplier);\n  let desiredFlowRate = capFlowRate(baseFlowRate);\n  \n  if (DEBUG) {\n    node.warn(\n      `score ${score.toFixed(2)} → desired flow rate ${desiredFlowRate} ` +\n      `(current: ${currentFlowRate})`\n    );\n  }\n  \n  targetFlowRate = desiredFlowRate;\n  targetLevel = flowRateToLevel(targetFlowRate);\n  \n} else {\n  targetLevel = score < 0.25 ? 1 : score < 1.0 ? 2 : score < 2.0 ? 3 : 4;\n  targetFlowRate = levelToFlowRate(targetLevel);\n  \n  if (DEBUG) {\n    node.warn(\n      `score ${score.toFixed(2)} → level ${targetLevel} ` +\n      `(equivalent to flow rate ${targetFlowRate})`\n    );\n  }\n}\n\nlet targetBypass = 0;\nlet targetMode = \"balanced\";\nconst reason = [`score=${score.toFixed(2)}`, `priority=${priority}`];\n\n// ============================================================================\n// extended logic with boost system\n// ============================================================================\n\nlet boostAmount = 0;\nconst boostReasons = [];\n\n// shower mode boost (high priority - before co₂ critical check)\nif (showerBoost > 0) {\n  if (USE_FLOW_RATE) {\n    boostAmount += showerBoost;\n    boostReasons.push(`+${showerBoost}(shower)`);\n  } else {\n    if (showerBoost >= cfg.showerMode.boostStrong) {\n      targetLevel = 4;\n      boostReasons.push(\"shower_strong_L4\");\n    } else {\n      targetLevel = Math.max(targetLevel, 3);\n      boostReasons.push(\"shower_mild_L3\");\n    }\n  }\n  reason.push(...showerReasons);\n}\n\n// co₂ critical - emergency override (ignore step limit)\nif (co2Critical) {\n  isEmergency = true;\n  if (USE_FLOW_RATE) {\n    targetFlowRate = capFlowRate(cfg.flowRate.max);\n  } else {\n    targetLevel = 4;\n  }\n  boostReasons.push(\"co2_critical_EMERGENCY\");\n  reason.push(\"EMERGENCY\");\n  \n} else {\n  \n  // co₂ high - add boost\n  if (co2High) {\n    if (USE_FLOW_RATE) {\n      boostAmount += cfg.boosts.co2High;\n      boostReasons.push(`+${cfg.boosts.co2High}(co2_high)`);\n    } else {\n      targetLevel = Math.max(targetLevel, 3);\n    }\n  }\n  \n  // co₂ falling - reduce\n  if (co2Falling && d.co2 < 900) {\n    if (USE_FLOW_RATE) {\n      boostAmount += cfg.boosts.co2Falling;\n      boostReasons.push(`${cfg.boosts.co2Falling}(co2_falling)`);\n    } else {\n      targetLevel = Math.min(targetLevel, 2);\n    }\n  }\n  \n  // dehumidify active - add boost\n  if (dehumidifyActive) {\n    if (USE_FLOW_RATE) {\n      boostAmount += cfg.boosts.dehumidify;\n      boostReasons.push(`+${cfg.boosts.dehumidify}(dehumidify)`);\n    } else {\n      targetLevel = Math.max(targetLevel, 3);\n    }\n  }\n  \n  // night cooling - add boost based on intensity\n  if (isNight && nightCoolingActive) {\n    targetBypass = 1;\n    if (deltaT >= cfg.temperature.nightCoolingStrongDelta && d.co2 > 1200) {\n      if (USE_FLOW_RATE) {\n        boostAmount += cfg.boosts.nightCoolStrong;\n        boostReasons.push(`+${cfg.boosts.nightCoolStrong}(night_cool_strong)`);\n      } else {\n        targetLevel = Math.min(4, cfg.night.maxLevel);\n      }\n    } else if (deltaT >= cfg.temperature.nightCoolingMinDelta) {\n      if (USE_FLOW_RATE) {\n        boostAmount += cfg.boosts.nightCoolMedium;\n        boostReasons.push(`+${cfg.boosts.nightCoolMedium}(night_cool_med)`);\n      } else {\n        targetLevel = Math.max(targetLevel, 3);\n      }\n    } else {\n      if (USE_FLOW_RATE) {\n        boostAmount += cfg.boosts.nightCoolSoft;\n        boostReasons.push(`+${cfg.boosts.nightCoolSoft}(night_cool_soft)`);\n      } else {\n        targetLevel = Math.max(targetLevel, 2);\n      }\n    }\n  }\n}\n\n// apply boost to flow rate\nif (USE_FLOW_RATE && boostAmount !== 0) {\n  const beforeBoost = targetFlowRate;\n  targetFlowRate = capFlowRate(targetFlowRate + boostAmount);\n  if (DEBUG) {\n    node.warn(\n      `flow rate boost: ${beforeBoost} ${boostAmount > 0 ? '+' : ''}${boostAmount} = ` +\n      `${targetFlowRate} [${boostReasons.join(\", \")}]`\n    );\n  }\n  reason.push(...boostReasons);\n}\n\n// update level/flowrate sync\nif (USE_FLOW_RATE) {\n  targetLevel = flowRateToLevel(targetFlowRate);\n} else {\n  targetFlowRate = levelToFlowRate(targetLevel);\n}\n\n// ============================================================================\n// temperature priority specific logic\n// ============================================================================\n\nif (priority === \"temperatur hoch\") {\n  if (outsideCooler) {\n    targetBypass = 0;\n    if (USE_FLOW_RATE) {\n      const reduction = Math.min(cfg.boosts.tempHighReduction, targetFlowRate - cfg.flowRate.min);\n      targetFlowRate = capFlowRate(targetFlowRate - reduction);\n      if (DEBUG && reduction > 0) {\n        node.warn(`temp priority: reduce ventilation -${reduction} to keep warmth`);\n      }\n      if (reduction > 0) {\n        boostReasons.push(`-${reduction}(keep_warm)`);\n      }\n    } else {\n      targetLevel = Math.min(targetLevel, 2);\n    }\n    reason.push(\"temp_high_keep_warm\");\n  } else if (outsideWarmer && d.season === \"summer\") {\n    targetMode = \"supply_only\";\n    reason.push(\"temp_high_import_warmth\");\n  }\n}\n\nif (priority === \"temperatur runter\") {\n  if (outsideCooler) {\n    targetBypass = 1;\n    if (USE_FLOW_RATE) {\n      const boost = cfg.boosts.tempLowIncrease;\n      targetFlowRate = capFlowRate(targetFlowRate + boost);\n      if (DEBUG) {\n        node.warn(`temp priority: increase ventilation +${boost} to cool down`);\n      }\n      boostReasons.push(`+${boost}(cool_down)`);\n    } else {\n      targetLevel = Math.max(targetLevel, 3);\n    }\n    reason.push(\"temp_low_import_cool\");\n  } else if (outsideWarmer && d.season === \"summer\") {\n    targetMode = \"exhaust_only\";\n    reason.push(\"temp_low_exhaust_warm\");\n  }\n}\n\n// update level/flowrate sync after temp priority\nif (USE_FLOW_RATE) {\n  targetLevel = flowRateToLevel(targetFlowRate);\n} else {\n  targetFlowRate = levelToFlowRate(targetLevel);\n}\n\n// ============================================================================\n// mode logic (season-based)\n// ============================================================================\n\nif (d.season === \"summer\") {\n  if (isNight && nightCoolingActive && outsideCooler && priority !== \"temperatur runter\") {\n    targetMode = \"supply_only\";\n    reason.push(\"mode_supply_night\");\n  } else if (!isNight && outsideWarmer && tempAboveMax && priority !== \"temperatur hoch\") {\n    targetMode = \"exhaust_only\";\n    reason.push(\"mode_exhaust_day\");\n  }\n}\n\n// ============================================================================\n// humidity bypass logic\n// ============================================================================\n\nif (priority === \"feuchtigkeit hoch\") {\n  const outsideMoreHumid = d.outdoorAbsHumidity > d.indoorAbsHumidity;\n  targetBypass = outsideMoreHumid ? 1 : 0;\n  reason.push(\n    outsideMoreHumid ? \"bypass_open_import_humidity\" : \"bypass_closed_keep_humidity\"\n  );\n}\n\nif (priority === \"feuchtigkeit runter\") {\n  const outsideDrier = d.outdoorAbsHumidity < d.indoorAbsHumidity;\n  targetBypass = outsideDrier ? 1 : 0;\n  reason.push(\n    outsideDrier ? \"bypass_open_dehumidify\" : \"bypass_closed_outdoor_not_drier\"\n  );\n}\n\n// ============================================================================\n// lautstärke priority (cap at level 3 / 225 flow)\n// ============================================================================\n\nif (priority === \"lautstärke\") {\n  if (USE_FLOW_RATE) {\n    if (targetFlowRate > 225) {\n      if (DEBUG) {\n        node.warn(`quiet mode: flow rate capped ${targetFlowRate} → 225`);\n      }\n      targetFlowRate = 225;\n      targetLevel = flowRateToLevel(targetFlowRate);\n    }\n  } else {\n    targetLevel = Math.min(targetLevel, 3);\n    targetFlowRate = levelToFlowRate(targetLevel);\n  }\n  reason.push(\"quiet_mode_cap\");\n}\n\n// ============================================================================\n// apply maximum step limit (gradual changes)\n// ============================================================================\n\nif (USE_FLOW_RATE && !isEmergency) {\n  const beforeLimit = targetFlowRate;\n  targetFlowRate = applyMaxStepLimit(currentFlowRate, targetFlowRate, false);\n  \n  if (beforeLimit !== targetFlowRate) {\n    reason.push(`step_limited_${cfg.flowRate.maxStepPerCycle}`);\n  }\n  \n  targetLevel = flowRateToLevel(targetFlowRate);\n} else if (USE_FLOW_RATE && isEmergency) {\n  targetFlowRate = applyMaxStepLimit(currentFlowRate, targetFlowRate, true);\n  targetLevel = flowRateToLevel(targetFlowRate);\n}\n\n// ============================================================================\n// strict night limits (always applied last)\n// ============================================================================\n\nfunction applyNightLimits() {\n  if (!isNight) return;\n  \n  const nightMaxLvl = cfg.night.maxLevel;\n  const nightMaxFR = cfg.night.maxFlowRate;\n  \n  if (USE_FLOW_RATE) {\n    if (targetFlowRate > nightMaxFR) {\n      if (DEBUG) {\n        node.warn(`night limit: flow rate capped ${targetFlowRate} → ${nightMaxFR}`);\n      }\n      targetFlowRate = nightMaxFR;\n      targetLevel = flowRateToLevel(targetFlowRate);\n      reason.push(`night_cap_flowrate_${nightMaxFR}`);\n    }\n  } else {\n    if (targetLevel > nightMaxLvl) {\n      if (DEBUG) {\n        node.warn(`night limit: level capped ${targetLevel} → ${nightMaxLvl}`);\n      }\n      targetLevel = nightMaxLvl;\n      targetFlowRate = levelToFlowRate(targetLevel);\n      reason.push(`night_cap_level_${nightMaxLvl}`);\n    }\n  }\n}\n\napplyNightLimits();\n\n// final capping and sync\nif (USE_FLOW_RATE) {\n  targetFlowRate = capFlowRate(targetFlowRate);\n  targetLevel = flowRateToLevel(targetFlowRate);\n}\n\nconst outputType = USE_FLOW_RATE\n  ? `flow rate=${targetFlowRate}`\n  : `level=${targetLevel}`;\nnode.status({\n  fill: \"blue\",\n  shape: \"dot\",\n  text: `${outputType} | bypass=${targetBypass} | ${targetMode}`\n});\n\nif (DEBUG) {\n  node.warn(\n    `final decision: ${outputType} | ` +\n    `bypass=${targetBypass ? 'open' : 'closed'} | ` +\n    `mode=${targetMode}`\n  );\n}\n\n// ============================================================================\n// commands & persistence with change limiting\n// ============================================================================\nconst applied = flow.get(\"maico.kwl_applied\") || {};\nconst cmds = [];\nfunction pushCmd(name, payload) {\n  cmds.push({topic: `${topicBase}/${name}/cmd`, payload});\n}\n// ============================================================================\n// ensure ventilation mode is \"Nennlüftung\" when using flow rate\n// ============================================================================\nif (USE_FLOW_RATE) {\n  const currentVentMode = d.currentFanLevel;\n  \n  if (currentVentMode !== 3) {\n    pushCmd(\"kwl_1_ventilation_mode\", \"Nennlüftung\");\n    if (DEBUG) {\n      node.warn(\n        `flow rate mode active but ventilation mode is ${currentVentMode}, ` +\n        `switching to Nennlüftung (3) first`\n      );\n    }\n    reason.push(\"ventmode_correction_for_flowrate\");\n    \n    // update applied state to prevent repeated sending\n    applied.level = 3;\n    applied.levelChangedAt = now;\n  }\n}\n// check if enough time has passed since last change\nfunction canChange(lastChangeKey, itemName) {\n  const lastChange = applied[lastChangeKey];\n  if (!lastChange) return true;\n  \n  const timeSince = now - lastChange;\n  if (timeSince >= minRuntimeMs) return true;\n  \n  const waitMinutes = Math.ceil((minRuntimeMs - timeSince) / 60000);\n  if (DEBUG) {\n    node.warn(\n      `${itemName} change blocked: last change ${Math.floor(timeSince / 60000)}min ago, ` +\n      `wait ${waitMinutes}min more`\n    );\n  }\n  reason.push(`${itemName.toLowerCase().replace(' ','_')}_wait_${waitMinutes}min`);\n  return false;\n}\n// ============================================================================\n// 1. ventilation mode or flow rate\n// ============================================================================\nif (USE_FLOW_RATE) {\n  // flow rate: can change every cycle (frequent adjustments allowed)\n  if (applied.flowRate !== targetFlowRate) {\n    applied.flowRate = targetFlowRate;\n    applied.flowRateChangedAt = now;\n    pushCmd(\"kwl_1_flow_rate_default\", targetFlowRate);\n    if (DEBUG) {\n      node.warn(`✓ command: set flow rate → ${targetFlowRate}`);\n    }\n  } else if (DEBUG) {\n    node.warn(`○ flow rate unchanged: ${targetFlowRate}`);\n  }\n} else {\n  // ventilation level: limited by minRuntime\n  if (applied.level !== targetLevel) {\n    if (canChange(\"levelChangedAt\", \"ventilation level\")) {\n      applied.level = targetLevel;\n      applied.levelChangedAt = now;\n      const nameMap = [\"Feuchteschutz\", \"Reduziert\", \"Nennlüftung\", \"Intensiv\"];\n      pushCmd(\"kwl_1_ventilation_mode\", nameMap[targetLevel - 1]);\n      if (DEBUG) {\n        node.warn(`✓ command: set level → ${targetLevel} (${nameMap[targetLevel - 1]})`);\n      }\n    } else {\n      targetLevel = applied.level ?? 3;\n      if (DEBUG) {\n        node.warn(`○ level change blocked, keeping: ${targetLevel}`);\n      }\n    }\n  } else if (DEBUG) {\n    node.warn(`○ level unchanged: ${targetLevel}`);\n  }\n}\n\n// ============================================================================\n// 2. bypass (limited by minRuntime)\n// ============================================================================\n\nif (applied.bypass !== targetBypass) {\n  if (canChange(\"bypassChangedAt\", \"bypass\")) {\n    applied.bypass = targetBypass;\n    applied.bypassChangedAt = now;\n    pushCmd(\"kwl_1_ventilation_bypass\", targetBypass ? \"on\" : \"off\");\n    if (DEBUG) {\n      node.warn(`✓ command: set bypass → ${targetBypass ? 'on' : 'off'}`);\n    }\n  } else {\n    targetBypass = applied.bypass ?? 0;\n    if (DEBUG) {\n      node.warn(`○ bypass change blocked, keeping: ${targetBypass ? 'on' : 'off'}`);\n    }\n  }\n} else if (DEBUG) {\n  node.warn(`○ bypass unchanged: ${targetBypass ? 'on' : 'off'}`);\n}\n\n// ============================================================================\n// 3. operating mode (limited by minRuntime)\n// ============================================================================\n\nif (applied.mode !== targetMode) {\n  if (canChange(\"modeChangedAt\", \"operating mode\")) {\n    applied.mode = targetMode;\n    applied.modeChangedAt = now;\n    const modeMap = {\n      balanced: \"Manuell\",\n      supply_only: \"ECO-Zuluft\",\n      exhaust_only: \"ECO-Abluft\"\n    };\n    pushCmd(\"kwl_1_operating_mode\", modeMap[targetMode] || \"Manuell\");\n    if (DEBUG) {\n      node.warn(`✓ command: set mode → ${targetMode}`);\n    }\n  } else {\n    targetMode = applied.mode ?? \"balanced\";\n    if (DEBUG) {\n      node.warn(`○ mode change blocked, keeping: ${targetMode}`);\n    }\n  }\n} else if (DEBUG) {\n  node.warn(`○ mode unchanged: ${targetMode}`);\n}\n\n// save applied state\nflow.set(\"maico.kwl_applied\", applied);\n\n// ============================================================================\n// debug status update\n// ============================================================================\n\nif (cmds.length === 0) {\n  node.status({fill: \"yellow\", shape: \"ring\", text: \"no changes sent\"});\n} else {\n  node.status({fill: \"green\", shape: \"dot\", text: `sent ${cmds.length} command(s)`});\n}\n\n// ============================================================================\n// prepare output payload\n// ============================================================================\n\nmsg.payload = {\n  targetLevel: targetLevel,\n  targetFlowRate: targetFlowRate,\n  useFlowRate: USE_FLOW_RATE,\n  targetBypass: targetBypass,\n  targetMode: targetMode,\n  reason: reason,\n  co2Trend: co2Trend,\n  score: +score.toFixed(2),\n  priority: d.priority,\n  commands: cmds,\n  input: d,\n  applied: applied,\n  hysteresis: {\n    cooling: coolingActive,\n    dehumidify: dehumidifyActive,\n    nightCooling: nightCoolingActive\n  },\n  shower: {\n    active: showerActive,\n    boost: showerBoost,\n    bathroom1RH: d.bathroom1RH,\n    bathroom2RH: d.bathroom2RH\n  }\n};\n\nmsg.settings = settings;\nmsg.debug = \"core_decision\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 190,
        "wires": [
            [
                "f3_mqtt",
                "63fd2e1adc626eb1"
            ]
        ]
    },
    {
        "id": "f3_mqtt",
        "type": "function",
        "z": "28bc9808e7dbdb8b",
        "g": "32da8bfb011458f9",
        "name": "KWL – MQTT‑Ausgabe",
        "func": "/**\n * ============================================================================\n * kwl control - step 3: mqtt output\n * ============================================================================\n * \n * tasks:\n * - send commands to mqtt broker\n * - handle bus temperature if applicable\n * - publish decision summary for monitoring\n * - provide debug output\n * \n * ============================================================================\n */\n\n// ============================================================================\n// initialization\n// ============================================================================\n\nconst p = msg.payload || {};\nconst settings = msg.settings || {};\nconst DEBUG = settings.debug === true;\nconst topicBase = p.input?.topicBase || \"nodered/maico\";\nconst out = [];\n\n// ============================================================================\n// send commands\n// ============================================================================\n\nfor (const c of (p.commands || [])) {\n  out.push({\n    topic: c.topic,\n    payload: c.payload,\n    retain: true,\n    debug: \"send_mqtt\"\n  });\n  \n  if (DEBUG) {\n    node.warn(`mqtt → ${c.topic}: ${c.payload}`);\n  }\n}\n\n// ============================================================================\n// bus temperature (if applicable)\n// ============================================================================\n\nlet busTemp = undefined;\n\ntry {\n  const haStates = Object.values(global.get(\"homeassistant.homeSystem.states\") || {});\n  const busData = haStates.reduce((acc, s) => {\n    if (s.entity_id === \"select.kwl_1_temperature_mode\" ||\n        s.entity_id === \"sensor.kwl_1_room_temperature_bus\") {\n      acc[s.entity_id.split(\".\")[1]] = s.state;\n    }\n    return acc;\n  }, {});\n  \n  // only in bus mode → create additional mqtt message\n  if (busData.kwl_1_temperature_mode === \"BUS\") {\n    const tempValue = parseFloat(busData.kwl_1_room_temperature_bus);\n    if (Number.isFinite(tempValue)) {\n      busTemp = {\n        topic: \"nodered/maico/kwl_1_room_temperature_bus/cmd\",\n        payload: tempValue,\n        retain: true,\n        debug: \"send_mqtt_bus_temp\"\n      };\n      \n      if (DEBUG) {\n        node.warn(`mqtt bus temp → ${tempValue}°C`);\n      }\n    }\n  }\n} catch (err) {\n  if (DEBUG) {\n    node.warn(\"bus temperature message skipped: \" + err.message);\n  }\n}\n\n// ============================================================================\n// decision summary for monitoring\n// ============================================================================\n\nout.push({\n  topic: `${topicBase}/decision`,\n  payload: {\n    timestamp: new Date().toISOString(),\n    targetLevel: p.targetLevel,\n    targetFlowRate: p.targetFlowRate,\n    useFlowRate: p.useFlowRate,\n    targetBypass: p.targetBypass,\n    targetMode: p.targetMode,\n    score: p.score,\n    priority: p.priority,\n    reason: p.reason,\n    co2: p.input?.co2,\n    co2Trend: p.co2Trend,\n    indoorTemp: p.input?.indoorTemp,\n    outdoorTemp: p.input?.outdoorTemp,\n    indoorRH: p.input?.indoorRH,\n    hysteresis: p.hysteresis,\n    shower: p.shower\n  },\n  retain: true,\n  debug: \"send_mqtt_decision\"\n});\n\n// ============================================================================\n// debug status update\n// ============================================================================\n\nconst totalMessages = out.length + (busTemp ? 1 : 0);\nnode.status({\n  fill: \"green\",\n  shape: \"dot\",\n  text: `sent ${totalMessages} mqtt message(s)`\n});\n\n// ============================================================================\n// return outputs\n// ============================================================================\n\n// output 1: regular mqtt messages (array)\n// output 2: bus temperature message (single or undefined)\nreturn [out, busTemp];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 240,
        "wires": [
            [
                "63fd2e1adc626eb1",
                "kwl_mqtt_out"
            ],
            [
                "8759a9cdb77ba103"
            ]
        ]
    },
    {
        "id": "e3ddc583dc995886",
        "type": "function",
        "z": "28bc9808e7dbdb8b",
        "g": "32da8bfb011458f9",
        "name": "settings",
        "func": "/**\n * ============================================================================\n * KWL-Steuerung - Einstellungen\n * ============================================================================\n */\n\nmsg.settings = {\n    // ============================================================================\n    // Basis-Einstellungen\n    // ============================================================================\n\n    \"debug\": false,\n    // Aktiviert ausführliche Debug-Ausgaben in Node-RED\n    // true = Detaillierte Logs über Entscheidungen, Sensoren, Berechnungen\n    // false = Nur Fehler und Warnungen\n\n    \"minRuntimeMinutes\": 20,\n    // Minimale Laufzeit in Minuten zwischen Änderungen von:\n    // - Bypass (auf/zu)\n    // - Betriebsmodus (Manuell/ECO-Zuluft/ECO-Abluft)\n    // - Lüftungsstufe (nur wenn flowRate.enabled = false)\n    // Schützt vor zu häufigem Schalten und mechanischem Verschleiß\n\n    \"nightMaxLevel\": 3,\n    // Maximale Lüftungsstufe nachts (1-4)\n    // Wird IMMER eingehalten, auch bei hohem CO₂\n    // Ausnahme: CO₂ kritisch (>1300 ppm) → Notfall-Modus\n\n    \"nightMaxFlowRate\": 225,\n    // Maximaler Volumenstrom nachts in m³/h\n    // Wird IMMER eingehalten (siehe nightMaxLevel)\n    // Reduziert Lautstärke während der Nachtruhe\n\n    // ============================================================================\n    // Volumenstrom-Einstellungen\n    // ============================================================================\n\n    \"flowRate\": {\n        \"enabled\": true,\n        // true = Volumenstrom-Modus (feine Regelung 80-300 m³/h)\n        // false = Stufen-Modus (klassisch 1-4: Feuchteschutz bis Intensiv)\n        // Bei true wird Lüftungsstufe automatisch auf 3 (Nennlüftung) gesetzt\n\n        \"min\": 80,\n        // Minimaler Volumenstrom in m³/h\n\n        \"max\": 300,\n        // Maximaler Volumenstrom in m³/h\n\n        \"step\": 5,\n        // Schrittweite für Volumenstrom-Anpassungen in m³/h\n        // Werte werden auf diese Schritte gerundet (z.B. 5 → 80, 85, 90...)\n\n        \"maxStepPerCycle\": 20,\n        // Maximale Änderung pro Zyklus (normalerweise 5 Minuten) in m³/h\n        // Verhindert abrupte Sprünge, sorgt für sanfte Übergänge\n        // Ausnahme: CO₂ kritisch → sofort maximaler Volumenstrom\n\n        \"scoreMultiplier\": 55\n        // Multiplikator für Score-zu-Volumenstrom Berechnung\n        // Formel: Volumenstrom = min + (Score × scoreMultiplier)\n        // Höherer Wert = stärkere Reaktion auf Score-Änderungen\n    },\n\n    // ============================================================================\n    // CO₂-Grenzwerte und Trendanalyse\n    // ============================================================================\n\n    \"co2\": {\n        \"trendRisingThreshold\": 30,\n        // CO₂-Anstieg in ppm pro Zyklus, ab dem \"steigend\" erkannt wird\n        // Wird für dynamische Schwellenwerte verwendet\n\n        \"trendFallingThreshold\": -20,\n        // CO₂-Abfall in ppm pro Zyklus, ab dem \"fallend\" erkannt wird\n        // Erlaubt Reduzierung der Lüftung bei sinkenden Werten\n\n        \"highThreshold\": 1100,\n        // Absoluter CO₂-Grenzwert in ppm für \"hoch\"\n        // Ab diesem Wert wird Lüftung verstärkt\n\n        \"highWithTrendThreshold\": 900,\n        // CO₂-Wert in ppm, der bei steigendem Trend als \"hoch\" gilt\n        // Verhindert Flattern bei Werten um die Hauptschwelle\n\n        \"criticalThreshold\": 1300,\n        // Kritischer CO₂-Wert in ppm → Notfall-Modus\n        // Ignoriert alle Limits (auch Nacht), maximale Lüftung\n\n        \"baseValue\": 800,\n        // Basis-CO₂-Wert für Score-Berechnung in ppm\n        // Werte darunter beeinflussen Score nicht\n\n        \"rangeValue\": 700\n        // Wertebereich für Score-Berechnung in ppm\n        // Formel: (CO₂ - baseValue) / rangeValue × Gewicht\n        // (800 + 700 = 1500 ppm entspricht maximalem CO₂-Score)\n    },\n\n    // ============================================================================\n    // Temperatur-Einstellungen\n    // ============================================================================\n\n    \"temperature\": {\n        \"outsideDeltaCooler\": 1,\n        // Temperaturdifferenz in °C, ab der Außenluft als \"kühler\" gilt\n        // Verwendet für Nachtkühlung und Bypass-Entscheidungen\n\n        \"outsideDeltaWarmer\": 1,\n        // Temperaturdifferenz in °C, ab der Außenluft als \"wärmer\" gilt\n        // Verwendet für Sommer-Betriebsmodi\n\n        \"hysteresisBand\": 0.3,\n        // Hysterese-Band in °C um Maximaltemperatur\n        // Verhindert ständiges Ein-/Ausschalten der Kühlfunktion\n        // Aktivierung: Innentemp > Max + 0.3°C\n        // Deaktivierung: Innentemp < Max - 0.3°C\n\n        \"nightCoolingMinDelta\": 2,\n        // Minimale Temperaturdifferenz in °C für Nachtkühlung\n        // Innentemperatur muss mind. 2°C wärmer als außen sein\n\n        \"nightCoolingStrongDelta\": 3,\n        // Temperaturdifferenz in °C für intensive Nachtkühlung\n        // Ab 3°C wird mit höchster Stufe gekühlt (mit CO₂-Check)\n        \"nightCoolingSeasons\": [\"spring\", \"summer\"]\n        // Nachtkühlung findet nur in aufgeführten Jahreszeiten statt\n    },\n\n    // ============================================================================\n    // Luftfeuchtigkeits-Einstellungen\n    // ============================================================================\n\n    \"humidity\": {\n        \"hysteresisBand\": 2\n        // Hysterese-Band in % um Maximalfeuchtigkeit\n        // Verhindert ständiges Ein-/Ausschalten der Entfeuchtung\n        // Aktivierung: Luftf. > Max + 2%\n        // Deaktivierung: Luftf. < Max - 2%\n    },\n\n    // ============================================================================\n    // Score-Gewichtungen\n    // ============================================================================\n\n    \"scoreWeights\": {\n        // Gewichtungsfaktoren für Multi-Faktor-Score-Berechnung\n        // Höherer Wert = stärkerer Einfluss auf Gesamt-Score\n\n        \"air\": 1.0,\n        // Gewicht für CO₂-basierten Luftqualitäts-Score\n        // Hauptfaktor für Lüftungsbedarf\n\n        \"humidityHigh\": 0.8,\n        // Gewicht wenn Luftfeuchtigkeit zu hoch\n        // Entfeuchtungsbedarf\n\n        \"humidityLow\": 0.6,\n        // Gewicht wenn Luftfeuchtigkeit zu niedrig\n        // Reduzierung der Lüftung zum Erhalt der Feuchtigkeit\n\n        \"tempMax\": 0.7,\n        // Gewicht wenn Temperatur über Maximum\n        // Kühlungsbedarf\n\n        \"tempMin\": 0.5\n        // Gewicht wenn Temperatur unter Sollwert\n        // Reduzierung der Lüftung zum Erhalt der Wärme\n    },\n\n    // ============================================================================\n    // Prioritäts-Anpassungen (aus Home Assistant)\n    // ============================================================================\n\n    \"priorityAdjustments\": {\n        // Faktoren für Benutzer-Prioritäten aus Home Assistant\n        // Positive Werte erhöhen Score/Lüftung, negative reduzieren\n\n        \"airQuality\": 0.3,\n        // Zusätzlicher Faktor für Priorität \"Luftqualität\"\n        // Verstärkt CO₂-Gewichtung um 30%\n\n        \"tempHigh\": -0.3,\n        // Score-Anpassung für Priorität \"Temperatur hoch\"\n        // Reduziert Lüftung, um Wärme zu halten\n\n        \"tempLow\": 0.4,\n        // Score-Anpassung für Priorität \"Temperatur runter\"\n        // Erhöht Lüftung bei kühler Außenluft\n\n        \"humidityHigh\": -0.3,\n        // Faktor für Priorität \"Feuchtigkeit hoch\"\n        // Reduziert Trockenheits-Score (weniger lüften bei zu trocken)\n\n        \"humidityLow\": 0.3,\n        // Faktor für Priorität \"Feuchtigkeit runter\"\n        // Verstärkt Feuchtigkeits-Score (mehr lüften bei zu feucht)\n\n        \"quiet\": 0.8,\n        // Multiplikator für Priorität \"Lautstärke\"\n        // Reduziert Gesamt-Score um 20%\n        // Zusätzlich: Hard-Cap bei Stufe 3 / 225 m³/h\n\n        \"dayBias\": 0.3,\n        // Score-Bonus tagsüber\n        // Aktivere Lüftung während des Tages\n\n        \"nightBias\": -0.2\n        // Score-Reduktion nachts\n        // Ruhigere Lüftung während der Nacht\n    },\n\n    // ============================================================================\n    // Boost-Werte (Volumenstrom-Anpassungen)\n    // ============================================================================\n\n    \"boosts\": {\n        // Feste Volumenstrom-Änderungen in m³/h für spezielle Situationen\n        // Nur aktiv im Volumenstrom-Modus (flowRate.enabled = true)\n\n        \"co2High\": 40,\n        // Boost bei hohem CO₂-Wert (+40 m³/h)\n\n        \"co2Falling\": -30,\n        // Reduktion bei fallendem CO₂ (-30 m³/h)\n        // Sanfte Rückführung zur Normallüftung\n\n        \"dehumidify\": 35,\n        // Boost bei aktiver Entfeuchtung (+35 m³/h)\n\n        \"nightCoolStrong\": 60,\n        // Boost bei intensiver Nachtkühlung (+60 m³/h)\n        // Nur wenn ΔT ≥ 3°C und CO₂ > 1200 ppm\n\n        \"nightCoolMedium\": 40,\n        // Boost bei mittlerer Nachtkühlung (+40 m³/h)\n        // Wenn ΔT ≥ 2°C\n\n        \"nightCoolSoft\": 20,\n        // Boost bei sanfter Nachtkühlung (+20 m³/h)\n\n        \"tempHighReduction\": 40,\n        // Reduktion bei Priorität \"Temperatur hoch\" (-40 m³/h max)\n        // Hält warme Luft im Haus\n\n        \"tempLowIncrease\": 50\n        // Boost bei Priorität \"Temperatur runter\" (+50 m³/h)\n        // Bringt kühle Luft ins Haus\n    },\n\n    // ============================================================================\n    // Dusch-Modus\n    // ============================================================================\n\n    \"showerMode\": {\n        \"enabled\": true,\n        // Aktiviert automatische Duscherkennung\n        // Überwacht zwei Badezimmer-Feuchtesensoren\n\n        \"humidityThresholdMild\": 10,\n        // Feuchtigkeitsanstieg in % für milde Duscherkennung\n        // Löst moderaten Boost aus\n\n        \"humidityThresholdStrong\": 20,\n        // Feuchtigkeitsanstieg in % für starke Duscherkennung\n        // Löst starken Boost aus (heißes Duschen, viel Dampf)\n\n        \"humidityFallingThreshold\": -5,\n        // Feuchtigkeitsabfall in % zur Erkennung von Duschende\n        // Beendet Boost-Modus automatisch\n\n        \"boostMild\": 30,\n        // Volumenstrom-Boost bei milder Duscherkennung (+30 m³/h)\n\n        \"boostStrong\": 60\n        // Volumenstrom-Boost bei starker Duscherkennung (+60 m³/h)\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 495,
        "y": 140,
        "wires": [
            [
                "f1_collect_auto"
            ]
        ],
        "icon": "font-awesome/fa-gears",
        "l": false
    },
    {
        "id": "352993cd261df4c3",
        "type": "comment",
        "z": "28bc9808e7dbdb8b",
        "g": "32da8bfb011458f9",
        "name": "markdown",
        "info": "# KWL-Steuerung - Funktionsübersicht\n\n## Intelligente Automatisierung\n\n### 🎯 Score-basierte Lüftungsregelung\n- Multi-Faktor-Berechnung aus CO₂, Temperatur und Luftfeuchtigkeit\n- Gewichtete Bewertung aller Einflussfaktoren\n- Fein abgestimmte Schwellenwerte für optimale Reaktion\n\n### 🔄 Zwei Betriebsarten\n- **Stufen-Modus**: Klassische 4-Stufen-Regelung (Feuchteschutz, Reduziert, Nennlüftung, Intensiv)\n- **Volumenstrom-Modus**: Feinjustierung von 80-300 m³/h in 5er-Schritten für präzise Anpassung\n\n### 🌡️ Intelligente Temperaturregelung\n- **Temperatur hoch**: Reduziert Lüftung und schließt Bypass bei kalter Außenluft\n- **Temperatur runter**: Erhöht Lüftung und öffnet Bypass bei kühler Außenluft\n- Saisonabhängige Betriebsmodi (Zu-/Abluft/Balanciert)\n- Nachtkühlung mit drei Intensitätsstufen (sanft/mittel/stark)\n\n### 💧 Feuchtigkeitsmanagement\n- **Feuchtigkeit hoch**: Importiert Feuchtigkeit bei trockener Innenluft\n- **Feuchtigkeit runter**: Aktive Entfeuchtung durch erhöhte Lüftung\n- Bypass-Steuerung basierend auf absoluter Luftfeuchtigkeit\n- Hysterese-Logik verhindert ständiges Schalten\n\n### 🚿 Automatischer Dusch-Modus\n- Erkennt Feuchtigkeitsspitzen in zwei Badezimmern\n- Zweistufige Reaktion (mild bei +10%, stark bei +20%)\n- Automatische Boosts (30-60 m³/h) bei Bedarf\n- Selbstständige Rückkehr zum Normalbetrieb\n\n### 💨 CO₂-Trendanalyse\n- Erkennt steigende und fallende CO₂-Werte\n- Dynamische Schwellenwerte gegen Flattern\n- Notfall-Modus bei kritischen Werten (>1300 ppm)\n- Sanfte Reduzierung bei fallenden Werten\n\n### 🎚️ Prioritäten aus Home Assistant\n- **Luftqualität**: Verstärkte CO₂-Gewichtung\n- **Temperatur hoch/runter**: Fokus auf Temperaturregelung\n- **Feuchtigkeit hoch/runter**: Fokus auf Feuchtigkeitsregelung\n- **Lautstärke**: Begrenzt Maximalstufe auf 3 / 225 m³/h\n\n## Mechanischer Schutz\n\n### ⏱️ Schaltintervalle\n- Bypass, Betriebsmodus und Lüftungsstufe: Max. alle 20 Minuten\n- Volumenstrom: Jederzeit änderbar (sanfte Anpassung)\n- Schutz vor übermäßigem Verschleiß\n\n### 📊 Sanfte Übergänge\n- Volumenstrom-Änderungen max. ±20 m³/h pro Zyklus\n- Graduelle Annäherung an Zielwerte\n- Ausnahme: Notfälle (CO₂ kritisch)\n\n### 🌙 Nachtbegrenzungen\n- Maximale Lüftungsstufe 3 nachts\n- Maximaler Volumenstrom 225 m³/h nachts\n- Gilt unabhängig von allen anderen Bedingungen\n- Ausnahme: CO₂-Notfall\n\n## Intelligente Hysterese\n\n### 🔁 Stabile Zustände\n- **Kühlung**: ±0,3°C Band um Maximaltemperatur\n- **Entfeuchtung**: ±2% Band um Maximalfeuchtigkeit\n- **Nachtkühlung**: Aktivierung/Deaktivierung mit Verzögerung\n- Verhindert ständiges Ein-/Ausschalten\n\n## Umfassendes Monitoring\n\n### 📡 MQTT-Integration\n- Alle Befehle an KWL-Anlage\n- Entscheidungs-Logs mit vollständiger Begründung\n- BUS-Temperatur-Unterstützung\n- Persistente Speicherung aller Zustände\n\n### 🔍 Debug-Modus\n- Detaillierte Informationen über Score-Berechnung\n- Begründung für jede Entscheidung\n- Tracking aller Boosts und Anpassungen\n- Warnungen bei blockierten Änderungen\n- Visualisierung aller Sensordaten\n\n## Sicherheit & Zuverlässigkeit\n\n### ✅ Sensor-Validierung\n- Prüfung aller erforderlichen Sensoren\n- Fallback bei fehlenden Daten\n- Automatische Abschaltung bei inaktivem Auto-Modus\n\n### 🛡️ Absicherungen\n- Filter-Alarm-Berücksichtigung\n- Taupunkt-Schutz bei Nachtkühlung\n- Zugluft-Modus-Erkennung\n- Notfall-Übersteuerung bei kritischen Werten\n\n## Konfigurierbarkeit\n\n### ⚙️ Zentrale Einstellungen\n- Debug-Modus\n- Betriebsart (Stufen/Volumenstrom)\n- Minimale Laufzeiten\n- Nachtgrenzen\n- Volumenstrom-Bereiche und Schrittweiten\n- Dusch-Modus-Parameter\n\n### 🎛️ Anpassbare Schwellenwerte\n- CO₂-Grenzwerte\n- Temperatur-Sollwerte\n- Feuchtigkeits-Grenzen\n- Taupunkt-Limits\n- Boost-Intensitäten\n\n---\n\n**Zusammenfassung**: Eine vollautomatische, intelligente KWL-Steuerung, die auf Basis multipler Sensoren und individueller Prioritäten eine optimale Raumluftqualität gewährleistet – bei minimalem Verschleiß und maximalem Komfort.\n",
        "x": 690,
        "y": 90,
        "wires": []
    }
]
